
.title-container h1{
  text-align: center;
}

.img-fluid{
  position: relative;
}
.card-img-overlay{
  top: 40% !important;
  left: 30% !important;
  padding: 1em !important;
}

.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  justify-content: space-around;
}

.img-hover-zoom img {
  transition: transform 1.2s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
}


.card-img-overlay h4{
  font-size: 1.2rem !important;
  font-weight: 500  !important;
  line-height: 1  !important;
}
.card-title{
  color:#fff;
}
.btn-primary {
  color: #000 !important;
  background-color: chartreuse !important;
  border-color: chartreuse !important;
}
.btn-primary:hover {
  color: chartreuse !important;
  background-color: #000 !important;
  border-color: #000 !important;
}
.destination-description
{
  background-color: burlywood;
  text-align: justify;
  letter-spacing: 3px;
}
/* Luca */
body{
  background-color: #eee;
}

.bg{
  background-color : #343a40;
}

ul  a{
  color: white;
}
ul a:hover{
  color: rgb(145, 145, 145);
}
.bgJumbotron{
  background-image: url("jumbImg.jpg");
  background-size: cover;

}


.textJumbotron{
  color: white;
  font-family: 'Muli', sans-serif;
}
.jumbotron{
  height: 450px;
}
h2{
  font-family: 'Muli', sans-serif;
}
.border{
  padding: 20px;
background-color:  #007bff;
border-radius: 5px;

}


.title-container h1{
  text-align: center;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: gray !important;
}
#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px){
#footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
}
